$other-user-bg: #ccc;
$self-color: #87cefa;

.messageWrap {
	overflow: auto;
	padding: 1rem;
}

.messageLine {
	display: flex;
}

.name,
.content {
	background: $other-user-bg;
	font-size: 1rem;
}

.name {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 700;

	width: 1rem;
	padding: 1rem;
	border-radius: 100%;
}

.content {
	margin-left: 1rem;
	background: $self-color;
	padding: 1rem;
	border-radius: 0.5rem;
}

.reversed {
	flex-direction: row-reverse;

	.name {
		justify-content: flex-end;
	}

	.content {
		margin-right: 1rem;
		margin-left: 0;
		background: $other-user-bg;
	}
}
